{% if latest_question_list %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Grenada</title>
    <link rel="stylesheet" href="sgustyle.css">
</head>
<body>
<img src="NiceBackgroundByMapp.jpg" alt="Nice background" class="header-image">
<h1 class="national-text">Available Polls on Site</h1>
<div class="polls-container">
    {% for question in latest_question_list %}
    <button><a href="{% url 'polls:detail' question.id %}" class="poll-button">{{ question.question_text }}</a></button>
    {% endfor %}
</div>
<script src="sguscript.js"></script>
</body>
</html>

{% else %}
<p>No polls are available.</p>
{% endif %}